[package]
name = "memlib"
version = "0.1.0"
edition = "2021"

[features]
kernel = []
test = ["env_logger", "log"]

[dependencies]
dataview = "0.1.2"
auto_impl = "0.5.0"

env_logger = { version = "0.9.0", optional = true }
log = { version = "0.4.16", optional = true }